*{
    text-align: center;
}

body{
    background-color: rgb(121, 121, 175);
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-size: 60px;
}
h2{
    font-size: 30px;
}

ul{
    list-style-type: none;
}

ol li{
    font-size: 20px;
    padding: 1rem;
    list-style-position: inside;
}

li {
    font-size: 40px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(238, 207, 67);
}

.recipe-description{
    font-size: 25px;
    color: rgb(49, 49, 49);
}

.homepage-return{
    font-size: 30px;
    padding: 1rem 1rem;
}

.Recipes-list{
    background-color: wheat;
    width: 50%;
    min-height: 200px;
    margin: 0 auto;
    border: solid rgb(129, 73, 26);
    padding: 5px;
}
.Recipes-list li{
    margin-top: 2rem;
}
.Recipes-list a{
    color: black;
}
.Recipes-list a:hover{
    color: rgb(124, 124, 124);
}